$bg-color: rgb(15, 4, 46);
$bg-gradient: radial-gradient(#5635ad 0, #13094e 100%);
$color: rgb(178, 190, 255);
$accent-color: #fe507c;
$h-color: #ffffff;
$h2-color: #ca8efe;
$a-color: #a375f9;
$a-active: #804df6;
$a-hover: #a752fb;
$a-visited: #ffb4a1;
$btn-bg-color: #4d2aa0ae;
$btn-bg-active: #a375f9;
$btn-bg-hover: #5635ad;
$btn-text-color: #fff;
$btn-text-active: #fff;
$btn-text-hover: #fff;
$btn-border-color: #ffffff9e;
$btn-border-active: #ffffff;
$btn-border-hover: #ffffff;
$input-bg-color: #5635ad;
$input-bg-focus: #5635ad;
$input-bg-hover: #804df6;
$input-text-color: #ffffff;
$input-text-focus: #ffffff;
$input-text-hover: #ffffff;
$input-border-color: #ffffff9e;
$input-border-focus: #ffffff;
$input-border-hover: #ffffff;
$placeholder-color: #a375f9;
$focus-color: #c1c8cc93;
$msg-bg-color: #4d2aa0ae;
$msg-user-bg-color: #a375f9a2;
$grad-bg: linear-gradient(
  180deg,
  rgba(247, 236, 255, 0.02),
  rgba(247, 236, 255, 0.1)
);
$grad-light-bg: linear-gradient(
  180deg,
  rgba(247, 236, 255, 0.05),
  rgba(247, 236, 255, 0.15)
);
$grad-revert-bg: linear-gradient(
  180deg,
  rgba(247, 236, 255, 0.15),
  rgba(247, 236, 255, 0.05)
);
$outer-shadow: rgba(202, 142, 254, 0.3) 0px 0px 0 5px,
  rgba(202, 142, 254, 0.2) 0 0 0 9px, rgba(202, 142, 254, 0.05) 0 0 0 12px;
$game-color-pink: #fb3bff;
$game-color-blue: #00c2ff;
$game-color-green: #6ef54c;
$game-color-yellow: #fff500;
$game-board-color: rgba(255, 255, 255, 0.7);
