a:hover {
  color: $a-hover;
}
a:visited:hover {
  color: $a-hover;
}

button:hover {
  background-color: $btn-bg-hover;
  box-shadow: $outer-shadow;
}

input:hover {
  background-color: $input-bg-hover;
}

.new_user_btn:hover,
.back_to_login_btn:hover {
  background-color: transparent;
  box-shadow: none;
  color: $color;
}
