button {
  background: $btn-bg-color $grad-bg;
  border: 0.8px solid $btn-border-color;
  color: $btn-text-color;
  border-radius: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-family: Arial, Helvetica, sans-serif;
}

button:active {
  background-color: $btn-bg-active;
}

.new_user_btn,
.back_to_login_btn {
  background: none;
  border: none;
  transition: none;
  margin-top: 50px;
}

.new_user_btn:active,
.back_to_login_btn:active {
  background-color: transparent;
}

.create_enter_btn {
  margin-top: 20px;
}

.send_message_button {
  margin-top: 0.9rem;
}

.old_game_btn {
  background: none;
  border-radius: 8px;
  transition: none;
  padding: 3px 7px;
  font-weight: 400;
  color: $color;
  margin-left: 0.3rem;
  font-size: 0.9rem;
  text-transform: lowercase;
}
